<section class="container-fluid form-outside">
        <div class="row form form-box">
            <div class="form-wrapper col-12 col-md-4 offset-0 offset-md-4">
                <h2> Registro </h2>
                <form [formGroup]="userForm">
                    <div class="form-row">
                        <div class="col-12 form-group">
                            <label>
                                Nombre
                            </label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-12 form-group">
                            <label>
                                Apellido
                            </label>
                            <input type="text" class="form-control" formControlName="lastName">
                        </div>
                        <div class="col-12 form-group">
                            <label>
                                Correo
                            </label>
                            <input type="email" class="form-control" formControlName="email">
                        </div>
                        <div class="col-12 form-group">
                            <label>
                                Contraseña
                            </label>
                            <input type="text" class="form-control" formControlName="password">
                        </div>
                        <div class="col-12 buttons mb-3">
                            <button class="btn btn-block am-btn am-btn--primary " type="submit"
                                [disabled]="userForm.invalid" (click)="saveUser()">
                                Guardar
                            </button>
                        </div>
                        <div class="col-12 buttons">
                            <button class="btn btn-block btn-danger am-btn" type="button"
                                (click)="backToLogin()">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
